<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask ta rodando</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ta rodando memso!</h1>
    <p>hohohho[h[oho[ho[óo´´oóó</p>
    <div class="image-container">
        <img src="templates/img.jpeg" alt="Description of the image">
        <div class="legend">
            <h3>Legend Title</h3>
            <p>imagem n funciona aaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
    </div>
</body>
</html>
